In [4]:
# Import Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Get Dataset from Kaggle

import kaggle # Requires the kaggle package; install with `pip install kaggle``
kaggle.api.authenticate() # Requires kaggle.json (Kaggle API Key) placed in ~/.kaggle
kaggle.api.dataset_download_files("drgilermo/nba-players-stats", path="./data/", unzip=True)

In [6]:
stats = pd.read_csv("./data/Seasons_Stats.csv")
stats = stats.rename(columns={"Unnamed: 0" : "Index"})
stats.drop(['blanl', 'blank2'], axis=1, inplace=True)

for index, row in stats.iterrows():
    if not pd.isna(row["Pos"]):
        positions = row["Pos"].split("-")
        stats.at[index, "Pos"] = positions[0]
        for i in range(1, len(positions)):
            position = positions[i]
            new_row = stats.iloc[index].copy()
            new_row["Pos"] = position
            stats.loc[len(stats)] = new_row
stats.dropna(inplace=True)
stats.head()

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
5730,5730,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,80.0,2864.0,15.3,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
5748,5748,1980.0,Larry Bird*,PF,23.0,BOS,82.0,82.0,2955.0,20.5,...,0.836,216.0,636.0,852.0,370.0,143.0,53.0,263.0,279.0,1745.0
5781,5781,1980.0,M.L. Carr,SF,29.0,BOS,82.0,7.0,1994.0,14.6,...,0.739,106.0,224.0,330.0,156.0,120.0,36.0,143.0,214.0,914.0
5786,5786,1980.0,Don Chaney,SG,33.0,BOS,60.0,0.0,523.0,7.8,...,0.762,31.0,42.0,73.0,38.0,31.0,11.0,33.0,80.0,167.0
5802,5802,1980.0,Dave Cowens*,C,31.0,BOS,66.0,55.0,2159.0,14.8,...,0.779,126.0,408.0,534.0,206.0,69.0,61.0,108.0,216.0,940.0

In [7]:
def height_to_inches(height):
    feet, inches = map(int, height.split("-"))
    return feet * 12 + inches

In [8]:

player_data = pd.read_csv("./data/player_data.csv")
player_data.dropna(inplace=True)

# Apply the function to the DataFrame
player_data["height_inches"] = player_data["height"].apply(height_to_inches)

# Add height and weight to players
stats['height_inches'] = np.nan
stats['weight'] = np.nan
for index, row in player_data.iterrows():
    stats.loc[stats['Player'] == row['name'], 'height_inches'] = row['height_inches']
    stats.loc[stats['Player'] == row['name'], 'weight'] = row['weight']

# Drop records with missing data
stats.dropna(inplace=True)
stats.to_csv("./data/season_stats_preprocessed.csv")